@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Black'),
       local('ALSHauss-Black'),
       url('fonts/ALSHauss-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss Book';
  src: local('ALS Hauss Book'),
       local('ALSHauss-Book'),
       url('fonts/ALSHauss-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Light'),
       local('ALSHauss-Light'),
       url('fonts/ALSHauss-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss Book';
  src: local('ALS Hauss Book Italic'),
       local('ALSHauss-BookItalic'),
       url('fonts/ALSHauss-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Medium'),
       local('ALSHauss-Medium'),
       url('fonts/ALSHauss-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss Hairline';
  src: local('ALS Hauss Hairline'),
       local('ALSHauss-Hairline'),
       url('fonts/ALSHauss-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Thin'),
       local('ALSHauss-Thin'),
       url('fonts/ALSHauss-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Regular Italic'),
       local('ALSHauss-RegularItalic'),
       url('fonts/ALSHauss-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Bold Italic'),
       local('ALSHauss-BoldItalic'),
       url('fonts/ALSHauss-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Thin Italic'),
       local('ALSHauss-ThinItalic'),
       url('fonts/ALSHauss-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Bold'),
       local('ALSHauss-Bold'),
       url('fonts/ALSHauss-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Regular'),
       local('ALSHauss-Regular'),
       url('fonts/ALSHauss-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Medium Italic'),
       local('ALSHauss-MediumItalic'),
       url('fonts/ALSHauss-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Light Italic'),
       local('ALSHauss-LightItalic'),
       url('fonts/ALSHauss-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss Hairline';
  src: local('ALS Hauss Hairline Italic'),
       local('ALSHauss-HairlineItalic'),
       url('fonts/ALSHauss-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ALS Hauss';
  src: local('ALS Hauss Black Italic'),
       local('ALSHauss-BlackItalic'),
       url('fonts/ALSHauss-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  padding: 0
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0
}

pre,
code,
address,
caption,
th,
figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal
}

fieldset,
iframe {
  border: 0
}

caption,
th {
  text-align: left
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

main {
  display: block
}

button {
  background: none;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit
}

button:disabled {
  cursor: default
}

:focus {
  outline: 2px solid #0071E3;
  outline-offset: 0px
}

:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
  outline: none
}

::-moz-focus-inner {
  border: 0;
  padding: 0
}

html {
  font-family: 'ALS Hauss', sans-serif;
  font-size: 106.25%;
  --sk-link-disabled-opacity: .42
}

body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal
}

body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #1d1d1f
}

body {
  min-width: 320px
}
